root { 
    display: block;
}

body{
    background-color: #f3f3f3;
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../sprites/bg_tile.jpg);
    width: 100vw;
    overflow:hidden; 
    font-family: 'Roboto', sans-serif;   
}

*, *:before, *:after {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
     
input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

#canvas{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	-ms-touch-action: none;
}

.ani_hack{
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent; /* mobile webkit */
}

.landing-page {
    display:none;
    position: absolute;
    z-index:999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width: 100%;
    height: 79vw;
    max-height:100vh;
    background: #28368a; /* Old browsers */
    background: -moz-linear-gradient(45deg, #28368a 0%, #ea011c 100%, #ea011c 100%); 
    background: -webkit-linear-gradient(45deg, #28368a 0%,#ea011c 100%,#ea011c 100%); 
    background: linear-gradient(45deg, #28368a 0%,#ea011c 100%,#ea011c 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28368a', endColorstr='#ea011c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-image: url('../sprites/poland-bg.jpg');
    background-position: center;
    background-size: cover;
}

.landing-page .qrcode-wrapper,.landing-page .right, .hostess-wrapper {
    position: absolute;
    left:0;
    bottom:0;
    top:0;
    margin: auto;
    width:33.333%;
    float:left;
    height: calc(200px + 15vw);
    padding: 1vw 3vw;
    text-align:center;
}
.hostess-wrapper {
    display:  none;
    flex-direction: column;
    justify-content: center;
}
.landing-page .qrcode-wrapper {
    padding:0;
}
.landing-page .right {
    /* left: auto;
    right:0;
    background-image: url('../sprites/player.png');
    background-position: center;
    background-repeat: no-repeat; */
}

.landing-page .cup {
    width: 30vw;
    height: 30vw;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
    background-image:url('../sprites/puchar.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;

}
.landing-page .crest {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    background-image: url('../sprites/herb.png');
    background-size: contain;
    background-position: center;
    width: 20vw;
    height:20vw;
}
.qrcode-wrapper h3, .hostess-wrapper h3 {
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
}
.qrcode {
    height: 300px;
    width: 300px;
    background-color:rgba(255,255,255, 0.6);
    border-radius: 20px;
    padding: 50px;
    margin: 20px auto;
    box-sizing: border-box;
    display:none;
}
.landing-page .qrcode-wrapper img {
    margin: auto;
    display:none;
}
.clickToPlay {
    width: 100%;
    font-size: 50px;
    height:60px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    text-align: center;
    display:none;

}

.get-ready {
    z-index: 3;
    color: #fff;
    width:100%;
    max-width:75vh;
    height: 79vw;
    max-height: 100vh;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}

.get-ready h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
    margin-bottom: 0;
}
.get-ready .counter {
    font-size: 6vh;
    line-height: 6vh;
    font-weight: 300;
}
.get-ready .instruction-tap {
    font-size: 2vh;
    text-transform: uppercase;
    color:#FFEA05;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    height: 79vw;
    max-height: 100vh;
}
.get-ready .instruction-tap .phone {
    background-image: url('../sprites/phone.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    width: 100%;
    height: 50vw;
    max-height: 70vh;
}
.game-domain {
    width:  100%;
    position:  absolute;
    bottom: 0;
    text-align: center;
    font-size:  50px;
    color:  #fff;
}

#interactionsHash {
  /*   position:absolute; 
    width:200px; 
    left:0;
    right:0; 
    bottom:0; 
    margin:auto;  */
    margin-left: 10px;
    margin-right: 10px;
    display:  inline-block;
    padding-left: 20px;
    padding-right:  20px;
    font-size: 40px; 
    color: #28368a; 
    z-index: 9999;
    text-align:center;
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
}

@media screen and (max-width: 1000px) {
    .qrcode {
        height: 30vw;
        width: 30vw;
        display: none;
    }

    .game-domain {
        font-size:  3vw;
    }

    #interactionsHash {
        font-size: 3vw; 
    }
    .qrcode-wrapper {
        display: none!important;
    }
    .hostess-wrapper {
        display:  flex;
    }
}
/***************FONTS*******************/

@font-face {
    font-family: 'walibi0615bold';
    src: url('walibi-holland-webfont.eot');
    src: url('walibi-holland-webfont.eot?#iefix') format('embedded-opentype'),
         url('walibi-holland-webfont.woff2') format('woff2'),
         url('walibi-holland-webfont.woff') format('woff'),
         url('walibi-holland-webfont.ttf') format('truetype'),
         url('walibi-holland-webfont.svg#walibi0615bold') format('svg');
    font-weight: normal;
    font-style: normal;

}